<div class="devise-form">
  <div class="title">
    <h1>SIGN UP!</h1>
    <h3>and get access to exclusive features</h3>
  </div>

  <%= form_with model: resource, scope: resource_name, url: registration_path(resource_name), data: { turbo: false } do |f|  %>
    <div class="photo-container" data-controller="upload-photo">
      <%= image_tag "pink_avatar.svg", class: "avatar hidden" %>
      <div class="photo-container" data-upload-photo-target="files show" >
      </div>
      <div class="photo-field">
        <%= f.label :photo, class: "btn-camera" do %>
        <i class="fa-solid fa-camera-retro"></i>
        <% end %>
        <%= f.file_field :photo, accept: "image/*", data: { action: "change->upload-photo#addFile" } %>
      </div>
    </div>

    <div class="form-field">
      <div>
        <%= f.label :first_name %>
        <span><%= resource.errors.full_messages.find { |m| m.match?("First") } %></span>
      </div>

      <%= f.text_field :first_name %>
    </div>

    <div class="form-field">
      <div>
        <%= f.label :last_name %>
        <span><%= resource.errors.full_messages.find { |m| m.match?("Last") } %></span>
      </div>

      <%= f.text_field :last_name %>
    </div>

    <div class="form-field">
      <div>
        <%= f.label :email %>
        <span><%= resource.errors.full_messages.find { |m| m.match?("Email") } %></span>
      </div>

      <%= f.email_field :email, autocomplete: "email", id: "sign-up-user-email" %>
    </div>

    <div class="form-field">
      <div>
        <%= f.label :password %>
        <span><%= resource.errors.full_messages.find { |m| m.match?("Password") && !m.match?("confirmation") } %></span>
      </div>

      <%= f.password_field :password, id: "sign-up-user-password" %>
    </div>

    <div class="form-field">
      <div>
        <%= f.label :password_confirmation, "Confirm password" %>
        <span><%= resource.errors.full_messages.find { |m| m.match?("Password confirmation") } %></span>
      </div>

      <%= f.password_field :password_confirmation %>
    </div>

    <%= f.submit "Confirm", class: "btn-pink" %>
  <% end %>
</div>
