<div class="container">
  <div class="back">
    <i class="fa-solid fa-arrow-left"></i>
    <%= link_to "Back", root_path %>
  </div>

  <div class="form-title">
    <h2>EDIT PROFILE</h2>
    <h3>Time to make some changes</h3>
  </div>


  <%= form_with model: resource, scope: resource_name, url: registration_path(resource_name), data: { turbo: false } do |f| %>
    <div class="form-field">
      <p><%= f.label :photo %></p>
      <%= f.file_field :photo %>
    </div>

    <div class="form-field">
      <p><%= f.label :first_name %></p>
      <%= f.text_field :first_name %>
      <span><%= resource.errors.full_messages.find { |m| m.match?("First") } %></span>
    </div>

    <div class="form-field">
      <p><%= f.label :last_name %></p>
      <%= f.text_field :last_name %>
      <span><%= resource.errors.full_messages.find { |m| m.match?("Last") } %></span>
    </div>

    <div class="form-field">
      <p><%= f.label :email %></p>
      <%= f.email_field :email, autocomplete: "email" %>
      <span><%= resource.errors.full_messages.find { |m| m.match?("Email") } %></span>
    </div>

    <div class="form-field">
      <p><%= f.label :password, "Password (#{@minimum_password_length} characters minimum)" if @minimum_password_length %></p>
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "Leave blank if you don't want to change it" %>
      <span><%= resource.errors.full_messages.find { |m| m.match?("Password") && !m.match?("confirmation") } %></span>
    </div>

    <div class="form-field">
      <p><%= f.label :password_confirmation %></p>
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      <span><%= resource.errors.full_messages.find { |m| m.match?("Password confirmation") } %></span>
    </div>

    <div class="form-field">
      <p><%= f.label :current_password, "Current password (we need your current password to confirm your changes)" %></p>
      <%= f.password_field :current_password, autocomplete: "current-password" %>
      <span><%= resource.errors.full_messages.find { |m| m.match?("Current") } %></span>
    </div>

    <%= f.submit "Update", class: "btn-pink" %>
  <% end %>

  <div class="shared-links">
    NOT HAPPY?
    <p><%= link_to "Cancel my account", registration_path(resource_name), data: { turbo_confirm: "Are you sure?", turbo_method: :delete } %></p>
  </div>
</div>
