<div class="container devise">
  <div class="devise-form">
    <div class="title">
      <h1>EDIT PROFILE</h1>
      <h3>Time to make some changes</h3>
    </div>

    <% if current_user.photo.attached? %>
      <%= cl_image_tag current_user.photo.key, class: "avatar", style: "height: 160px; width: 160px;" %>
    <% else %>
      <%= image_tag "pink_avatar.svg", class: "avatar" %>
    <% end %>

  <%= form_with model: resource, scope: resource_name, url: registration_path(resource_name), data: { turbo: false } do |f| %>
    <div class="form-field">
      <%= f.label :photo %>
      <%= f.file_field :photo %>
    </div>

    <div class="form-field">
      <%= f.label :first_name %>
      <%= f.text_field :first_name %>
      <span><%= resource.errors.full_messages.find { |m| m.match?("First") } %></span>
    </div>

    <div class="form-field">
      <%= f.label :last_name %>
      <%= f.text_field :last_name %>
      <span><%= resource.errors.full_messages.find { |m| m.match?("Last") } %></span>
    </div>

    <div class="form-field">
      <%= f.label :email %>
      <%= f.email_field :email, autocomplete: "email" %>
      <span><%= resource.errors.full_messages.find { |m| m.match?("Email") } %></span>
    </div>

    <div class="form-field">
      <%= f.label :password, "Password (#{@minimum_password_length} characters minimum)" if @minimum_password_length %>
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "Leave blank if you don't want to change it" %>
      <span><%= resource.errors.full_messages.find { |m| m.match?("Password") && !m.match?("confirmation") } %></span>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      <span><%= resource.errors.full_messages.find { |m| m.match?("Password confirmation") } %></span>
    </div>

    <div class="field">
      <%= f.label :current_password, "Current password (we need your current password to confirm your changes)" %>
      <%= f.password_field :current_password, autocomplete: "current-password" %>
      <span><%= resource.errors.full_messages.find { |m| m.match?("Current") } %></span>
    </div>

    <%= f.submit "Update" %>
  <% end %>

  <h3>Cancel my account</h3>

  <div>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { turbo_confirm: "Are you sure?", turbo_method: :delete } %></div>

  <%= link_to "Back", :back %>
</div>
