<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_with model: resource, scope: resource_name, url: registration_path(resource_name), class: "textarea", data: { turbo: false } do |f| %>

  <div class="form-field">
    <%= f.label :photo do %>
    <% end %>
    <%= f.file_field :photo, onchange: "form.submit()" %>
  </div>

  <div class="form-field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
    <span><%= resource.errors.full_messages.find { |m| m.match?("First") } %></span>
  </div>

  <div class="form-field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
    <span><%= resource.errors.full_messages.find { |m| m.match?("Last") } %></span>
  </div>

  <div class="form-field">
    <%= f.label :email %>
    <%= f.email_field :email, autocomplete: "email" %>
    <span><%= resource.errors.full_messages.find { |m| m.match?("Email") } %></span>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<div>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %></div>

<%= link_to "Back", :back %>
