<section id="nearby">
  <div class="subheader">
    <h2><i class="far fa-star"></i>  Achievements</h2>
  </div>

  <div class="next-achievement">
    <div class="next-achievement-info">
      <div class="next-achievement-name">
        <h3>Explorer</h3>
        <p>38 (of 50) landmarks visited</p>
      </div>

      <div class="progress-bar">
        <div class="percentage" style="width: 76%"></div>
      </div>
    </div>

    <div class="next-badge">
      <%= image_tag "badges/activity.svg"%>
    </div>
  </div>

  <div class="next-achievement">
    <div class="next-achievement-info">
      <div class="next-achievement-name">
        <h3>Master of Paris</h3>
        <p>4 (of 5) landmarks visited</p>
      </div>

      <div class="progress-bar">
        <div class="percentage" style="width: 80%"></div>
      </div>
    </div>

    <div class="next-badge">
      <%= image_tag "badges/mountain.svg"%>
    </div>
  </div>

  <div class="next-achievement">
    <div class="next-achievement-info">
      <div class="next-achievement-name">
        <h3>Mr. Worlwide</h3>
        <p>Landmarks in 3 (of 6) continents</p>
      </div>

      <div class="progress-bar">
        <div class="percentage" style="width: 50%"></div>
      </div>
    </div>

    <div class="next-badge">
      <%= image_tag "badges/cup.svg"%>
    </div>
  </div>

  <div class="achievements-gradient" style="margin-top: 24px">
    <div class="badges">
      <div class="badge">
        <p>King of country</p>
        <%= image_tag "badges/achievement.svg", class: "badge-image" %>
      </div>

      <div class="badge">
        <p>Landmarks pro</p>
        <%= image_tag "badges/award.svg", class: "badge-image" %>
      </div>

      <div class="badge">
        <p>Best time</p>
        <%= image_tag "badges/smartwatch.svg", class: "badge-image" %>
      </div>

      <div class="badge">
        <p>Winner</p>
        <%= image_tag "badges/cup.svg", class: "badge-image" %>
      </div>

      <div class="badge">
        <p>Mr. Worldwide</p>
        <%= image_tag "badges/badge.svg", class: "badge-image" %>
      </div>

      <div class="badge">
        <p>Master of city</p>
        <%= image_tag "badges/mountain.svg", class: "badge-image" %>
      </div>
    </div>
  </div>

  <%= link_to monuments_path do %>
    <div class="see-more-achievements">
      <p>See more</p>
      <i class="fas fa-chevron-down"></i>
    </div>
  <% end %>
</section>
