<section class="side-scroller">
  <div class="subheader">
    <h2><i class="fas fa-history"></i>  My histories</h2>

    <% if @histories.any? %>
      <%= link_to histories_path do %>
        see more <i class="fa-solid  fa-arrow-right"></i>
      <% end %>
    <% end %>
  </div>

  <% if @histories.any? %>
    <div class="monuments-scroller">
      <% @histories.each do |his| %>
        <%= link_to history_path(his),
          class: "card-monument",
          style: (his.photo.attached? ? "background-image: linear-gradient(rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0.7)), url(#{ cl_image_path his.photo.key, height: 250, quality: 30 })" : "") do %>

          <h3><%= his.monument.name %></h3>
          <span><i class="fa-solid fa-location-dot"></i> <%= "#{his.monument.city}, #{his.monument.country_code}" %></span>
        <% end %>
      <% end %>
    </div>
  <% else %>
    <%= render "shared/no_results" %>
  <% end %>
</section>
