<div class="card-index">
  <div class="image-index" style="background-image: linear-gradient(rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0.7)), url('<%= cl_image_path mon.photo.key %>')"></div>
  <div class="description-index">
    <div>
    <h3><%= mon.name %></h3>
    <p><i class="fa-solid fa-location-dot"></i>  <%= mon.city %> </p>
    </div>
    <p class="desc-short"> <%= mon.description.split.first(20).join(" ") %>...</p>
    <%= link_to monument_path(mon) do %>
    Learn more <i class="fa-solid  fa-arrow-right"></i>
    <% end %>
  </div>
</div>
