<div class="index-container">
  <div class="monuments-map"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    <%= link_to root_path(ht: "y"), class: "btn-back" do %>
      <i class="fa-solid fa-arrow-left"></i>
    <% end %>
  </div>

  <div class="monuments-scroller">
    <% @nearby_monuments.each do |mon| %>
      <%= link_to monument_path(mon),
        class: "card-monument",
        style: (mon.photo.attached? ? "background-image: linear-gradient(rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0.7)), url(#{ cl_image_path mon.photo.key })" : "") do %>

        <h3><%= mon.name %></h3>
        <span><i class="fa-solid fa-location-dot"></i> <%= mon.distance_between %>km</span>
      <% end %>
    <% end %>
  </div>
</div>
