<div class="standard-container">
  <div class="monuments-map"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
  <% @monuments.each do |m| %>
    <div class="monument-card">
      <div class="card-img" style="background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('<%= cl_image_path m.photo.key %>')"></div>
      <div class="card-information">
        <div>
          <h1><%= m.name %></h1>
          <div class="city-distance">
            <p><i class="fa-solid fa-mountain-city"></i>  <%= m.city %></p>
            <p><%= Geocoder::Calculations.distance_between([@user.lat,@user.lng], [m.lat, m.lng]).round %> km</p>
          </div>
        </div>
        <p class="card-description"><%= m.description %></p>
      </div>
    </div>
  <% end %>
</div>
