<div class="background-image" style="background-image: url('<%= cl_image_path @monument.photo.key %>');" data-controller="glass-container" data-action="click->glass-container#hide">
  <div class= "btn-home">
    <%= link_to root_path do %>
      <i class="fa-solid fa-arrow-left"></i>
    <% end %>
  </div>
  <div class="glass-container" data-glass-container-target="glass">
    <div class="line"></div>
    <div class="content" data-glass-container-target="content">
      <h4><%= @monument.name %></h4>
      <p class="location"><i class="fa-solid fa-location-dot"></i> <%= "#{@monument.city}, #{@monument.country_code}" %></p>
      <p><%= @monument.description.split(". ").first(2).join(". ") %></p>
      <%= cl_image_tag @monument.photo.key, class: "hidden-thumbnail" %>
      <p><%= @monument.description.split(". ")[2..].join(". ")%></p>
    </div>
    <button data-action="click->glass-container#expand"></button>
  </div>
</div>
