<div class="background-image" style="background-image: url('<%= cl_image_path @monument.photo.key %>');">
  <div class= "back-arrow">
    <%= link_to monuments_path do %>
      <i class="fa-solid fa-arrow-left"></i>
    <% end %>
  </div>
  <div class= "glass-container">
    <hr>
    <div class= "text-container">
      <h4><%= @monument.name %></h4>
      <span><i class="fa-solid fa-location-dot"></i> <%= "#{@monument.city}, #{@monument.country_code}" %></span>
    </div>
    <div class="description">
      <p><%= @monument.description%></p>
    </div>
    <div class="see-more-button">
      <p>See More</p>
    </div>
  </div>
</div>
