<div id="dashboard">
  <div id="user-banner">
    <%= link_to root_path, class: "btn-home" do %>
      <i class="fa-solid fa-arrow-left"></i>
    <% end %>

    <div class="user-info">
      <div class="welcome-message">
        <h3>Hello</h3>
        <h2><%= @user.first_name.upcase %>!</h2>
        <p>Welcome to your dashboard</p>
      </div>

      <div class="picture">
        <% if current_user.photo.attached? %>
          <%= cl_image_tag current_user.photo.key, width: 120, crop: "scale", quality: 80, class: "dashboard-avatar" %>
        <% else %>
          <%= form_with model: @user, scope: :user, url: registration_path(@user), class: "dashboard-avatar", data: { turbo: false } do |f| %>
            <%= f.label :photo do %>
                <%= image_tag "avatar.svg" %>
            <% end %>
            <%= f.file_field :photo, style: "display: none;", accept: "image/*", oninput: "form.submit()" %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="profile-bottom">
      <%= link_to "EDIT PROFILE", edit_user_registration_path, class: "btn-main" %>

      <% if @completed_achievements.any? %>
        <div class="badges-collection">
          <%= cl_image_tag @completed_achievements[0].achievement.photo.key, class:"badge-completed-1" %>

          <% if @completed_achievements.count > 1  %>
            <%= cl_image_tag @completed_achievements[1].achievement.photo.key, class:"badge-completed-2" %>
          <% end %>

          <% if @completed_achievements.count > 2  %>
            <%= cl_image_tag @completed_achievements[2].achievement.photo.key, class:"badge-completed-3" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="container">
    <%= render "users/components/achievements" %>
    <%= render "users/components/histories" %>
  </div>
</div>
