<%= render "pages/components/logo" %>

<% unless current_user || @ht %>
  <%= render "pages/components/tutorial" %>
<% end %>

<div id="pages-home" data-controller="hide-home">
  <%= render "pages/components/banner" %>

  <div class="container">
    <h1>Discover<br>amazing landmarks</h1>

    <%= render "pages/components/navbar" %>

    <%= render "pages/components/search_form" %>

    <%= render "pages/components/nearby" %>

    <% unless current_user %>
      <%= render "pages/components/form" %>
    <% end %>
  </div>

  <%= render "pages/components/footer" %>
</div>
