<div id="pages-home">
  <section id="logo" data-controller="home-logo">
      <%= image_tag "logo3white.png", data: { aos: "zoom-out-up", aos_delay: "300", aos_duration: "1000" } %>
  </section>

  <% unless current_user || @ht %>
    <%= render "shared/tutorial" %>
  <% end %>

  <%= render "shared/banner" %>

  <div class="container">
    <h1>Discover<br>amazing landmarks</h1>

    <nav>
      <%= link_to monuments_path do %>
        <i class="fa-solid fa-map-location-dot"></i>
      <% end %>

      <%= link_to "/" do %>
        <i class="fa-solid fa-user"></i>
      <% end %>
    </nav>

    <%= render "shared/search_form" %>

    <% unless current_user %>
      <%= render "shared/form" %>
    <% end %>
  </div>
</div>
