<div id="pages-home">
  <section id="logo" data-controller="home-logo">
    <%= image_tag "logo.png", data: { aos: "zoom-out-up", aos_delay: "300", aos_duration: "1000" } %>
  </section>

  <section id="loading" class="hidden">
    <div>
      <%= image_tag "logo.png" %>
      <div class="lds-ring" ><div></div><div></div><div></div><div></div></div>
    </div>
  </section>

  <% unless current_user || @ht %>
    <%= render "pages/components/tutorial" %>
  <% end %>

  <%= render "pages/components/banner" %>

  <div class="container">
    <h1>Discover<br>amazing landmarks</h1>

    <%= render "pages/components/navbar" %>

    <%= render "pages/components/search_form" %>

    <%= render "pages/components/nearby" %>

    <% unless current_user %>
      <%= render "pages/components/form" %>
    <% end %>
  </div>
</div>
