<div id="pages-home">
  <section id="logo" data-controller="home-logo">
      <%= image_tag "logo3white.png", data: { aos: "zoom-out-up", aos_delay: "300", aos_duration: "1000" } %>
  </section>

  <% unless current_user || @ht %>
    <%= render "shared/tutorial" %>
  <% end %>

  <%= render "shared/banner" %>

  <section id="featured">
    <div class="container">
      <div class="card-featured" data-aos="fade-up" data-aos_duration="1000">
        <div class="card-featured_image" style="background-image: linear-gradient(rgba(0, 0, 0, 0.2) 40%, rgba(0, 0, 0, 0.6)), url(<%= cl_image_path @monument.photo.key %>);">
          <i class="fa-regular fa-heart"></i>
        </div>

        <div class="card-featured_content" data-aos="fade-up" data-aos-duration="1000">
          <h3><%= @monument.name %></h3>
          <span><i class="fa-solid fa-location-dot"></i> <%= "#{@monument.city}, #{@monument.country_code}" %></span>
          <p><%= @monument.description.split(". ")[1] %>.</p>
        </div>

        <div class="card-featured_more" data-aos="fade-up" data-aos-duration="1000">
          <%= link_to monument_path(@monument) do %>
            <span>Learn more</span>
            <i class="fa-solid fa-chevron-right"></i>
          <% end %>
        </div>
      </div>
    </div>
  </section>

  <section data-aos="fade-up" data-aos-duration="1000">
    <h2>Scope out your surroundings</h2>

    <div class="map-container"></div>
  </section>

  <section id="register">
    <div class="container">
      <h2>Like the app ?</h2>
      <p>Consider <%= link_to "registering", new_user_registration_path %> and get access to more features</p>
    </div>
  </section>
</div>
