<div id="pages-home">
  <section id="logo" data-controller="home-logo">
      <%= image_tag "logo3white.png", data: { aos: "zoom-out-up", aos_delay: "300", aos_duration: "1000" } %>
  </section>

  <% unless current_user || @ht %>
    <%= render "shared/tutorial" %>
  <% end %>

  <%= render "shared/banner" %>

  <%= render "shared/search_form" %>

  <section id="featured">
    <div class="card-featured">
      <div class="card-featured_image" style="background-image: linear-gradient(rgba(0, 0, 0, 0.2) 40%, rgba(0, 0, 0, 0.6)), url(<%= cl_image_path @monument.photo.key %>);">
        <i class="fa-regular fa-heart"></i>
      </div>

      <div class="card-featured_content">
        <h3><%= @monument.name %></h3>
        <span><i class="fa-solid fa-location-dot"></i> <%= "#{@monument.city}, #{@monument.country_code}" %></span>
        <p><%= @monument.description.split(". ")[1] %>.</p>
      </div>

      <div class="card-featured_more">
        <%= link_to monument_path(@monument) do %>
          <span>Learn more</span>
          <i class="fa-solid fa-chevron-right"></i>
        <% end %>
      </div>
    </div>
  </section>

  <section>
    <h2>Scope out your surroundings</h2>

    <div class="map-container"></div>
  </section>

  <% unless current_user %>
    <%= render "shared/form" %>
  <% end %>
</div>
