<!DOCTYPE html>
<html>
  <head>
    <title>Artify</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body data-controller="aos">
    <!--
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    -->
    <%= render "shared/navbar" %>

    <%= yield %>

    <script>
      if (history.scrollRestoration) {
          history.scrollRestoration = 'manual';
      } else {
          window.onbeforeunload = () => {
              window.scrollTo(0, 0);
          }
      }
    </script>
  </body>
</html>
